.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 64px 16px;
  gap: 8px;
}

.not-found-icon {
  font-size: 64px;
  height: 64px;
  width: 64px;
  opacity: 0.4;
  margin-bottom: 8px;
}
